body {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.form {
    min-width: 70vh;
}